.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-border {
  border-radius: 50%;
}

.icon {
  height: 80px;
}

.minheight {
  min-height: 100vh;
}

.rightLine {
  border-right: 1px solid grey;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;


  position: absolute;
  bottom: 8px;
  right: 14px;

  border: 2px solid #282c34;

}

.overlap {
  position: relative;
  left: 0;
  top: 0;
  
}

.base
{
  position: relative;
  top: 0;
  left: 0;
}


.borderBot{
  border-bottom: 2px solid grey;
}


.centerdiv{
  align-items: center;
  justify-content: center;
  display: flex;
}
.optionSelect{
  font-size: 4em;
}

.navbar{
  background-color: #4a5261;
}


.chatHistory{
overflow-y: scroll;

}

.messageBox{
  
}